#resultsModal {
    top: 35px;
}

.modal-dialog {
    margin: 155px auto!important;
}

img {
    /* vertical-align: middle; */
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px lightgray;
}

.connection{
    text-align: center;
    width: 100%;
    padding: 0px 0 10px 0;
    display: block;
    font-weight: 300;
}